@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

header {
  background-color: rgb(88 164 176 / 30%);
  color: #fff;
  padding: 20px;
  text-align: center;
}

.contour {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.description {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  margin: 3rem 10rem;
}

footer {
  text-align: right;
  padding-right: 6rem;
  font-family: "Pacifico", "Comic Sans MS", sans-serif;
  font-size: 24px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.question {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
}

a {
  color: blue;
  text-decoration: underline;
}

a:hover {
  color: darkblue;
}
