<header>
  <h1 class="contour">Foire Aux Questions</h1>
</header>

<body>
  <div class="description">
    <h3>1. D'où proviennent nos données ?</h3>
    <p>
      Nos données proviennent du site Parcoursup, une plateforme centrale
      d'orientation post-bac en France. Nous utilisons la licence
      <a
        href="https://www.etalab.gouv.fr/licence-ouverte-open-licence/"
        target="_blank"
        >Open Licence</a
      >
      délivrée par Etalab, permettant l'utilisation et la réutilisation des
      données dans le respect des principes d'ouverture et de gratuité.
    </p>
  </div>
  <div class="description">
    <h3>2. Nos données sont-elles actualisées en temps réel ?</h3>
    <p>
      Les données que vous consultez ont été extraites le 01/02/2024. Veuillez
      noter qu'elles sont susceptibles d'évoluer au fil du temps en fonction des
      mises à jour effectuées sur le site Parcoursup.
    </p>
  </div>
  <div class="description">
    <h3>
      3. Où les informations sur les établissements mentionnés ont été trouvées
      ?
    </h3>
    <p>
      Les informations sur les établissements mentionnés sont disponibles sur le
      site du Ministère de l'Enseignement Supérieur, de la Recherche et de
      l'Innovation. Vous pouvez accéder à ces données en suivant ce
      <a
        href="https://data.enseignementsup-recherche.gouv.fr/explore/dataset/fr-esr-principaux-etablissements-enseignement-superieur/information/?disjunctive.type_d_etablissement&disjunctive.typologie_d_universites_et_assimiles"
        target="_blank"
        >lien</a
      >.
    </p>
  </div>
  <div class="description">
    <h3>4. Pourquoi avons-nous créé ce site ?</h3>
    <p>
      Nous avons créé ce site dans le but de simplifier la recherche
      d'informations sur les établissements d'enseignement supérieur. En
      regroupant des données dispersées sur une seule plateforme, nous cherchons
      à offrir aux utilisateurs une expérience plus efficace et intuitive.
    </p>
  </div>
  <div class="description">
    <h3>5. Comment sauvegarder les données ?</h3>
    <p>
      Vous pouvez sauvegarder vos données personnelles en créant un compte sur
      notre site. Cette fonctionnalité vous permettra d'accéder facilement à vos
      informations et de les mettre à jour si nécessaire.
    </p>
  </div>
  <div class="description">
    <h3>
      6. Comment garantir la confidentialité des données en cas de création de
      compte ?
    </h3>
    <p>
      Nous attachons une importance primordiale à la confidentialité et à la
      sécurité des données de nos utilisateurs. Pour assurer leur protection,
      nous utilisons des tokens d'authentification qui permettent de vérifier
      l'identité de chaque utilisateur et de restreindre l'accès aux données
      sensibles.
    </p>
  </div>
</body>
<footer>
  <p>L'équipe de développement</p>
</footer>
