/* header {
  padding: 0px;
  background: var(--background_color);
  box-shadow: 0px 10px 30px rgb(88 164 176 / 30%);
}

.logo {
  width: 300px;

}
.logo:hover {
  cursor: pointer;
}

.desktop_menu {
  margin-left: 40%;
}

.desktop_menu ul {
  padding: 0;
  margin: 0;
}

.desktop_menu ul li {
  list-style-type: none;
  color: var(--grey);
  display: inline-block;
  font-size: 1.4em;
  margin-left: 0.8em;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--grey);
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--grey);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.desktop_menu ul li a {
  text-decoration: none;
  color: var(--grey)
}

.menu-icon {
  display: none;
}

.align-middle {
  display: flex;
  align-items: center;
}
 
@media screen and (min-width: 128px) and (max-width: 900px) {
  .desktop_menu {
    position: fixed !important;
    transition: 0.4 ease-in-out;

    right: -280px;
    top: 34px;
    background: var(--background_color);
    width: 280px;
    height: 100%;
  }
  .desktop_menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid grey;
  }
  .menu-icon {
    display: block !important;
    color: var(--grey);
    font-size: 3em;
    padding: 10px;
    position: absolute;
    right: 0;
  }
  .mobile_menu {
    right: 0;
    transition: 0.4 ease-in-out;
  }
  .logo {
    width: 200px;
  }
}
 */

header {
  background: var(--background_color);
  box-shadow: 0px 10px 30px rgba(74, 155, 255, 0.203);
  padding: 0 30px;

}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1320px;
}

.logo-container img {
  width: 300px;
}

.menu ul {
  display: flex;
  gap: 20px
}

.menu ul li {
  list-style: none;
  font-size: 1.4em;
  
}

.menu ul li a {
  color: var(--grey);
  text-decoration: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--grey);
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--grey);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#icons {
  cursor: pointer;
  display: none;
}


@media (max-width: 850px) {
  header {
    padding: 0 15px;

  }

  .menu ul {
    position: absolute;
    flex-direction: column;
    padding: 5px 15px;
    gap: 5px;
    right: 10px;
    top: 65px;
    z-index: 10;
    background-color: var(--background_color);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .menu ul.active {
    opacity: 1;
  }

  .logo-container img {
    width: 160px;
  }

  .menu ul li {
    font-size: 1.2em;
  }

  #icons {
    display: block;
    position: relative;
  }
  #icons:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 6h18M3 12h18M3 18h18'/%3E%3C/svg%3E");
  }

  .active #icons:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-width='2' d='M20 20L4 4m16 0L4 20'/%3E%3C/svg%3E");
  }


}
