header {
  padding: 0px;
  background: var(--background_color);
  box-shadow: 0px 10px 30px rgb(88 164 176 / 30%);
}
.logo {
  width: 300px;
  
}
.logo:hover {
  cursor: pointer;
}

.desktop_menu {
  margin-left: 40%;
}

.desktop_menu ul {
  padding: 0;
  margin: 0;
}

.desktop_menu ul li {
  list-style-type: none;
  color: var(--grey);
  display: inline-block;
  font-size: 1.4em;
  margin-left: 0.8em;
}

/* .desktop_menu ul li:hover {
 
  text-decoration: underline;
  cursor: pointer;
  color: #333;
} */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--grey);
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--grey);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.desktop_menu ul li a {
  text-decoration: none;
  color: var(--grey)
}
.menu-icon {
  display: none;
}

.align-middle {
  display: flex;
  align-items: center;
}
 
@media screen and (min-width: 128px) and (max-width: 900px) {
  .desktop_menu {
    position: fixed !important;
    transition: 0.4 ease-in-out;

    right: -280px;
    top: 34px;
    background: var(--background_color);
    width: 280px;
    height: 100%;
  }
  .desktop_menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid grey;
  }
  .menu-icon {
    display: block !important;
    color: var(--grey);
    font-size: 3em;
    padding: 10px;
  }
  .mobile_menu {
    right: 0;
    transition: 0.4 ease-in-out;
  }
  .logo {
    width: 200px;
  }
}
