version: "3.8"

services:
  frontfutur:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - "83:80"
    volumes:
      - /app
      - /app/node_modules
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontfutur
