<p class="description">
  Bienvenue sur notre site ! <br /><br />
  Nous sommes un groupe de quatre étudiants passionnés par l'informatique et les
  nouvelles technologies. À la fin de notre premier trimestre, nous avons été
  chargés de concevoir une API significative, nous permettant ainsi de mettre en
  pratique nos connaissances fraîchement acquises. Ce projet revêt pour nous un
  sens particulier, car il vise à aider les élèves à trouver une orientation
  professionnelle dans le domaine de l'informatique.<br /><br />
  Pour parvenir à ce résultat, nous avons adopté une approche méthodologique
  rigoureuse, en suivant les principes de la méthode agile et du framework
  Scrum. Cette démarche nous a permis de structurer efficacement notre travail
  et de favoriser la collaboration au sein de notre équipe.<br />
  Le processus de conception du projet a été minutieusement planifié, en tenant
  compte des besoins et des attentes des utilisateurs potentiels. Nous avons
  utilisé des techniques de prototypage rapide pour itérer rapidement sur les
  différentes idées et concepts, en nous assurant de garder une vision claire de
  l'objectif final.<br />
  En ce qui concerne le développement, nous avons choisi d'utiliser Django pour
  le back-end et Angular17 pour le front-end. Cette combinaison nous a permis de
  créer une application robuste et performante, offrant une expérience
  utilisateur optimale.<br />
  Par souci de confidentialité et de sécurité des données, nous avons mis en
  place un système d'authentification basé sur des tokens. Cela garantit que
  seuls les utilisateurs autorisés peuvent accéder aux informations sensibles,
  tout en préservant la confidentialité des données.<br /><br />
  Nous sommes fiers du travail accompli et convaincus que ce projet apportera
  une valeur ajoutée significative aux élèves en quête d'orientation
  professionnelle dans le domaine de l'informatique. Explorez notre site,
  découvrez nos fonctionnalités et n'hesiter à
  <a href="/contact">nous contacter</a> pour partager avec nous votre expérience
  !<br /><br />
  Merci pour votre visite et votre soutien !
</p>
<footer>
  <p>L'équipe de développement</p>
</footer>
