@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


.main-container {
    max-width: 1320px;
    margin: 0 auto;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    border: none;
    border-radius: 25px;
    width: 400px;
    height: 700px;
    padding: 30px 20px;
    display: flex;
    position: relative;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1), 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.card:hover .main-info {
    transform: scale(0.99);
}

.main-info {
    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.main-info:hover {
    transform: scale(0.99);
}

h1 {
    font-size: 1.8em;
    margin-top: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.4em;
    color: var(--blue)
}

h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.card ul {
    padding: 0;
}

.card ul li {
    list-style: none;
    margin-bottom: 5px;
}


.link {
    text-decoration: underline;
    color: var(--grey);
    margin-left: 10px;
}

span {
    font-weight: bold;
    color: var(--grey);
    
}


.main-info {
    min-height: 400px;
    margin-bottom: 20px;
}

.charm--chevron-left {
    display: inline-block;
    width: 40px;
    height: 40px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M10.25 3.75L5.75 8l4.5 4.25'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.charm--chevron-right {
    display: inline-block;
    width: 40px;
    height: 40px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M5.75 12.25L10.25 8l-4.5-4.25'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-right: 40px;
}

.pagination a {
    color: black
}

.pagination a:visited {
    color: black;
}

button.chevron {
    border: none;
    background-color: transparent;
}


.material-symbols--favorite-outline {
    display: inline-block;
    width: 36px;
    height: 36px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12 21l-1.45-1.3q-2.525-2.275-4.175-3.925T3.75 12.812Q2.775 11.5 2.388 10.4T2 8.15Q2 5.8 3.575 4.225T7.5 2.65q1.3 0 2.475.55T12 4.75q.85-1 2.025-1.55t2.475-.55q2.35 0 3.925 1.575T22 8.15q0 1.15-.387 2.25t-1.363 2.412q-.975 1.313-2.625 2.963T13.45 19.7zm0-2.7q2.4-2.15 3.95-3.687t2.45-2.675q.9-1.138 1.25-2.026T20 8.15q0-1.5-1-2.5t-2.5-1q-1.175 0-2.175.662T12.95 7h-1.9q-.375-1.025-1.375-1.687T7.5 4.65q-1.5 0-2.5 1t-1 2.5q0 .875.35 1.763t1.25 2.025q.9 1.137 2.45 2.675T12 18.3m0-6.825'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.material-symbols--favorite {
    display: inline-block;
    width: 32px;
    height: 32px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12 21l-1.45-1.3q-2.525-2.275-4.175-3.925T3.75 12.812Q2.775 11.5 2.388 10.4T2 8.15Q2 5.8 3.575 4.225T7.5 2.65q1.3 0 2.475.55T12 4.75q.85-1 2.025-1.55t2.475-.55q2.35 0 3.925 1.575T22 8.15q0 1.15-.387 2.25t-1.363 2.412q-.975 1.313-2.625 2.963T13.45 19.7z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.bottom-row {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    right: 20px;
    margin-top: 30px;
}

.bottom-row a {
    text-decoration: none;
    color: var(--grey)
}

button.more {
    border: none;
    width: 150px;
    padding: 10px 20px;
    border-radius: 25px;
    margin-left: 20px;
    transition: box-shadow 0.3s ease;
}

button.more:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 10px 10px -5px;
    
}

.favorite {
    background-color: black;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
}

.favorite:hover {
    background-color: var(--red);
    transform: scale(1.05)
}

.favorite.active {
    background-color: var(--red);
}


@media (max-width: 850px) {
    .cards-container {
        flex-direction: column;
        align-items: center; /* Center items vertically */
        margin: 0 auto;
    }

    .card {
        width: 90%; /* Adjust the width as needed */
        max-width: 400px; /* Set a maximum width if needed */
    }

    h1, .count-container {
        padding: 0 15px;
    }

    .card ul li {
        font-size: 0.85em;
    }


}


