<div class="main-container">
  <h1>Programme d'études</h1>
  <div class="count-container">
    <p>Nombres résultats: {{ count }}</p>
  </div>
  <div class="cards-container">
    <div class="card" *ngFor="let study of studies">
      <div class="main-info">
        <ul>
          <li *ngIf="study.name !== null && study.name !== undefined">
            <h2>{{ study.name }}</h2>
            <hr>
          </li>
          <li *ngIf="study.school !== null && study.school !== undefined">
            <h3>{{ study.school }}</h3>
          </li>
          <li>{{ study.locality }}</li>
          <li *ngIf="study.url !== null && study.url !== undefined">
            <span>Site web:</span><a class="link" href="{{ study.url }}">Cliquez</a>
          </li>
          <li
            *ngIf="
              study.acceptance_rate !== null &&
              study.acceptance_rate !== undefined
            "
          >
            <span>Taux d'acceptation:</span> {{ study.acceptance_rate }}%
          </li>
          <li
            *ngIf="
              study.L1_succes_rate !== null &&
              study.L1_succes_rate !== undefined
            "
          >
            <span>Taux de succès en L1:</span> {{ study.L1_succes_rate }}%
          </li>
          <li
            *ngIf="
              study.description !== null && study.description !== undefined
            "
          >
            <span>Description:</span> {{ study.description }}
          </li>
          <li
            *ngIf="
              study.diploma_earned_ontime !== null &&
              study.diploma_earned_ontime !== undefined
            "
          >
            <span>Taux obtention diplome (dans les temps):</span>
            {{ study.diploma_earned_ontime }}%
          </li>
          <li
            *ngIf="
              study.available_places !== null &&
              study.available_places !== undefined
            "
          >
            <span>Places disponibles:</span> {{ study.available_places }}
          </li>
          <li
            *ngIf="
              study.number_applicants !== null &&
              study.number_applicants !== undefined
            "
          >
            <span>Nombre de candidats:</span> {{ study.number_applicants }}
          </li>
          <li
            *ngIf="
              study.percent_scholarship !== null &&
              study.percent_scholarship !== undefined
            "
          >
            <span>Boursiers:</span> {{ study.percent_scholarship }}%
          </li>
        </ul>
      </div>
      <div class="bottom-row">
        <span
          class="material-symbols--favorite-outline favorite"
          (click)="addFavorite(study.cod_aff_form)"
          [ngClass]="{ active: favorites.includes(study.cod_aff_form) }"
        ></span>
        <button class="more glow-on-hover">
          <a routerLink="/studyprogram/{{ study.cod_aff_form }}">Voir plus</a>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="pagination">
  <!-- @if (previousUrl) {
  <button class="chevron" (click)="loadPreviousPage()">
    <span class="charm--chevron-left"></span>
  </button>
  } @if (nextUrl) {
  <button class="chevron" (click)="loadNextPage()">
    <span class="charm--chevron-right"></span>
  </button>
  } -->
  <p-paginator  [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>

</div>
