<div class="container">
    <ul>
        @if(studyProgram){
        <li> Cod_aff_form : {{ studyProgram.cod_aff_form }}</li>
        <li> Name : {{ studyProgram.name }}</li>
        <li> School : {{ studyProgram.school }}</li>
        <li> URL : {{ studyProgram.url }}</li>
        <li> Acceptance_rate {{ studyProgram.acceptance_rate }}</li>
        <li> L1_succes_rate {{ studyProgram.L1_succes_rate }}</li>
        <li> Description : {{ studyProgram.description}} </li>
        <li> diploma_earned_ontime : {{ studyProgram.diploma_earned_ontime}}</li>
        <li> Available_places : {{ studyProgram.available_places }}</li>
        <li> Number_applicants : {{ studyProgram.number_applicants }}</li>
        <li> Percent_scholarship : {{ studyProgram.percent_scholarship }}</li>
        <li> Acceptance_rate_quartile : {{ studyProgram.acceptance_rate_quartile }}</li>
        <li> L1_success_rate_quartile : {{ studyProgram.L1_success_rate_quartile }}</li>
        <li> Diploma_earned_ontime_quartile : {{ studyProgram.diploma_earned_ontime_quartile }}</li>
        <li> Percent_scholarship_quartile : {{ studyProgram.percent_scholarship_quartile }}</li>
        <li> Job_prospects : {{ studyProgram.job_prospects }}</li>

        }
    </ul>

</div>