.share-link {
    width: 90%;
}

.btn-red {
    background-color: red;
    font-weight: bold;
    color: white;
}

.btn-blue {
    background-color: blue;
    font-weight: bold;
    color: white;
}

.section-title {
    font-weight: bold;
}

.main-container {
    margin-left: 50px;
    margin-right: 50px;
}

.cards-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 500px;
    padding: 30px 20px;
    display: flex;
    position: relative;
    min-height: 600px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.charm--chevron-left {
    display: inline-block;
    width: 40px;
    height: 40px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M10.25 3.75L5.75 8l4.5 4.25'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.charm--chevron-right {
    display: inline-block;
    width: 40px;
    height: 40px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M5.75 12.25L10.25 8l-4.5-4.25'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.pagination {
    display: flex;
    justify-content: end;
    margin-top: 40px;
}

.pagination a {
    color: black
}

.pagination a:visited {
    color: black;
}

button.chevron {
    border: none;
    background-color: transparent;
}