<header>
  <h1 class="contour">Bienvenue sur Future Academie</h1>
  <p>Le site pour réussir vos études supérieures</p>
</header>
<p class="description">
  Bienvenue sur notre site dédié à l'orientation post-bac, où nous vous aidons à
  naviguer dans le dédale des choix d'<strong>études supérieures</strong> avec
  simplicité et efficacité.<br /><br />

  Trouver la <strong>bonne formation</strong> pour vous ou votre enfant peut
  parfois sembler être un véritable casse-tête. C'est pourquoi notre plateforme
  est conçue pour vous simplifier la tâche en vous offrant un accès rapide et
  facile à toutes les informations dont vous avez besoin et qui sont tirées du
  ministère de l'<strong>éducation nationale</strong>.<br /><br />

  Que vous soyez intéressé(e) par les <strong>universités</strong>, des
  <strong>BTS</strong>, ou d'autres types de formations, notre site vous permet
  de rechercher des options adaptées à vos aspirations, en fonction de critères
  tels que la <strong>proximité géographique</strong>, les
  <strong>taux d'obtention de diplôme</strong>, le
  <strong>nombre de places disponibles</strong> ou les
  <strong>spécialités</strong> proposées.<br /><br />

  De plus, en créant un compte sur notre site, vous pouvez sauvegarder les
  résultats de vos recherches, ce qui vous permet de suivre facilement
  l'évolution de vos choix et de garder une trace de vos
  <strong>favoris</strong> que vous pouvez partager.<br /><br />

  Nous comprenons que le processus d'<strong>orientation</strong> peut être
  stressant, mais avec notre site comme guide, vous pouvez aborder cette étape
  importante de votre vie ou celle de votre enfant avec confiance et
  tranquillité d'esprit. Concentrez-vous sur l'<strong>essentiel</strong>,
  posez-vous les bonnes questions et nous vous apporterons certaines
  réponses.<br /><br />

  Nous sommes là pour vous accompagner à chaque étape du chemin, et nous sommes
  convaincus que, ensemble, nous trouverons la voie de votre
  <strong>épanouissement</strong>.<br />
</p>
<footer>
  <p>L'équipe de développement</p>
</footer>
