<div class="container">
  <p id="titre">Formulaire d'inscrition</p>
  <form id="creationform">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <!--each part is same : label to introduce, input has to be completed and small to inform (ngclass to change color of text depending situation)-->
          <label for="InputEmail">Adresse Email</label>
          <input
            #emailInput
            type="email"
            class="form-control"
            id="InputEmail"
            placeholder="Enter Mail"
            (keyup)="onEmailChange(emailInput.value)"
          />
          <small
            id="smallMail"
            [ngClass]="{
              'text-danger': !isEmailValid,
              'text-success': isEmailValid,
            }"
            >{{ texteSmallEmail }}</small
          >
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="InputConfirmationEmail">Confirmation adresse email</label>
          <input
            #emailConfirmationInput
            type="email"
            class="form-control"
            id="InputConfirmationEmail"
            placeholder="Confirm Mail"
            (keyup)="
              onCompareEmails(emailInput.value, emailConfirmationInput.value)
            "
          />
          <small
            id="smallConfirmationMail"
            [ngClass]="{
              'text-danger': !emailsMatch,
              'text-success': emailsMatch
            }"
            >{{ texteSmallConfirmEmail }}</small
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="InputPassword">Mot de passe</label>
          <input
            #passwordInput
            type="password"
            class="form-control"
            id="InputPassword"
            placeholder="Enter Password"
            (keyup)="onPasswordChange(passwordInput.value)"
          />
          <small
            >Votre mot de passe doit contenir :
            <ul>
              <li [class.completed]="isLengthValid">8 caractères</li>
              <li [class.completed]="isNumberValid">Au moins un chiffre</li>
              <li [class.completed]="isLowerCaseValid">
                Au moins une minuscule
              </li>
              <li [class.completed]="isUpperCaseValid">
                Au moins une majuscule
              </li>
              <li [class.completed]="isSpecialCharValid">
                Au moins un caractère spécial
              </li>
            </ul>
          </small>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="InputConfirmationPassword"
            >Confirmation mot de passe</label
          >
          <input
            #passwordConfirmationInput
            type="password"
            class="form-control"
            id="InputConfirmationPassword"
            placeholder="Confirm Password"
            (keyup)="
              onComparePasswords(
                passwordInput.value,
                passwordConfirmationInput.value
              )
            "
          />
          <small
            id="smallConfirmationPassword"
            [ngClass]="{
              'text-danger': !passwordsMatch,
              'text-success': passwordsMatch
            }"
            >{{ texteSmallConfirmPassword }}</small
          >
        </div>
      </div>
    </div>
    <!--different buttons visible or hidden in case of-->>
    <button
      *ngIf="validationCreation"
      id="creationbutton"
      type="submit"
      class="btn btn-primary bouton-centre"
      (click)="enregistrement()"
    >
      Envoyer
    </button>
    <button
      *ngIf="validationOK"
      id="boutonOK"
      type="submit"
      class="btn btn-success bouton-centre"
      (click)="redirectionLogin()"
    >
      Félicitations, vous allez recevoir un email de confirmation.<br />
      Pensez à regarder vos spams. <br />
      Cliquez ici pour aller sur la page d'authentification.
    </button>
    <button
      *ngIf="validationNOK"
      id="boutonNOK"
      type="submit"
      class="btn btn-danger"
      [ngClass]="{ visibility: validationNOK }"
      (click)="rechargementPage()"
    >
      Un profil avec cette adresse mail a déjà été enregistré.<br />
      Cliquez ici pour relancer le formulaire d'inscription.
    </button>
  </form>
</div>
