#creation-form {
  display: flex;
  flex-direction: column;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
 

}

#creationbutton {
  margin-top: 20px;
}

.bouton-centre {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.main-container {
  
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  max-height: 600px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
  text-align: left;
  display: flex;
  flex-direction: column;

}

#titre {
  color: var(--grey);
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

#smallConfirmationPassword,
#smallConfirmationMail,
#smallMail {
  font-weight: bold;
}

.completed {
  text-decoration: line-through;
}

.form-group {
  margin-bottom: 20px;
}

button {
    background-color: #fff;
    border: 1px solid var(--grey);
    color: var(--grey);
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 5px;
   
    margin-left: 75%
}

button:hover {
  background-color: var(--grey);
  color: #fff;
}