<div class="container">
    <ul *ngIf="userprofile">
      <li>First name : {{ userprofile.first_name }}</li>
      <li>Last name : {{ userprofile.last_name }}</li>
      <li>Email : {{ userprofile.email }}</li>
      <li>Image Profile : {{ userprofile.image_profile }}</li>
      <li>URL TikTok : {{ userprofile.url_tiktok }}</li>
      <li>URL Instagram : {{ userprofile.url_instagram}}</li>
      <li>
        <form (ngSubmit)="updateAboutMe()">
          <div class="form-group">
            <label for="aboutMe">About Me:</label>
            <!-- Utilisation de la méthode updateAboutMeText() -->
            <textarea id="aboutMe" class="form-control" [value]="aboutMeText" (ngModelChange)="updateAboutMeText($event)"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </li>
      <li>Profile is public? : {{ userprofile.is_public }}</li>
      <li>Student at : {{ userprofile.student_at}}</li>
    </ul>
  </div>