@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&display=swap");

:root {
  --background_color: #fff;
  --grey: #333;
  --shadow1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --blue: #004aad;
}

body {
  font-family: "Roboto", sans-serif;
}
