.main-container {
    max-width: 1320px;
    margin: 50px auto;
}


.form-control {
  border-radius: 10px;
  box-shadow: var(--shadow1);
  border: none;
  padding: 0.375rem 0.75rem;
}

.btn-outline-primary {
  box-shadow: var(--shadow1);
  border-radius: 10px;
  border: none;
  color: var(--grey);
  background-color: transparent;
  padding: 0.375rem 0.75rem;
}

.btn-outline-primary:hover {
  background-color: var(--grey);
  color: white;
}

.dropdown-menu {
  border-radius: 10px;
  border: none;
  box-shadow: var(--shadow1);
}

.dropdown-item {
  padding: 0.5rem 1rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--grey);
  background-color: #f8f9fa;
}

/* ---------------------- ACTIVE FILTERS --------------------------- */
.filters-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  color: white;
  gap: 10px; /* Espace entre les tags et le bouton */
}

.filter-tag button {
  color:var(--blue);
  background-color: transparent;
  font-size: 0.8em;
  border: 1px solid var(--blue);
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}



.filter-close {
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
}

.clear-filters button {
  background-color: #fff;
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.8em;
}

.clear-filters button:hover, .filter-tag button:hover {
  background-color: var(--blue);
  color: #fff;
}
/* ------------------------ Search location-------------------- */
.location-distance-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.custom-select {
  position: relative;
  width: 30%;
  flex-grow: 1;
  appearance: none;
  background-color: #fff;
  border: none;
  padding-right: 2.5rem;
  border-radius: 10px;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23333" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 8px 10px;
}

.location-distance-container ul {
  position: absolute;
  z-index: 1000;
  width: calc(100% - 10px);
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding-left: 0;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
}

.location-distance-container ul li {
  padding: 10px;
  cursor: pointer;
}

.location-distance-container ul li:hover {
  background-color: #f8f9fa;
}

@media (max-width: 850px) {
  .search-bar {
    margin: 0 auto;
  }

  .form-control {

    margin-bottom: 10px;
  }

}