<div class="main-container">
  <div class="search-bar">
    <!-- Search program -->
    <div class="forms">
      <div class="program-search">
        <input
          #searchInputProgram
          class="form-control"
          placeholder="Rechercher un programme"
          [(ngModel)]="currentSearchTerm"
          (input)="searchPrograms(searchInputProgram.value)"
        />
      </div>
      <!-- Localisation-->
      <div class="location-container">
        <input
          class="form-control"
          placeholder="Entrez une adresse"
          #geoLocationInput
          [(ngModel)]="currentGeoLocationInput"
          (input)="searchAddress(geoLocationInput.value)"
        />
        <ul
          *ngIf="showSuggestions && (addressSuggestions$ | async) as suggestions"
        >
          <li
            *ngFor="let suggestion of suggestions"
            (click)="selectAddress(suggestion)"
            class="dropdown-item"
          >
            {{ suggestion.properties.label }}
          </li>
        </ul>
      </div>
      <div class="distance-sort">
        <div class="distance-container">
          <select
            class="form-control custom-select"
            #distanceSelect
            (change)="setDistance(distanceSelect.value)"
          >
            <option value="10">10 km</option>
            <option value="20">20 km</option>
            <option value="30">30 km</option>
            <option value="40">40 km</option>
          </select>
        </div>
    
        <!-- Sort by -->
    
        <div class="sort-container">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              Trier par <i class="bi bi-sort-up"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button
                ngbDropdownItem
                (click)="sortByItem('L1_succes_rate', 'Taux de succès en L1')"
              >
                Taux de succès en L1
              </button>
              <button
                ngbDropdownItem
                (click)="sortByItem('acceptance_rate', 'Taux d\'acceptation')"
              >
                Taux d'acceptation
              </button>
              <button
                ngbDropdownItem
                (click)="sortByItem('available_places', 'Places disponibles')"
              >
                Places disponibles
              </button>
              <button
                ngbDropdownItem
                (click)="
                  sortByItem('diploma_earned_ontime', 'Taux obtention diplome ')
                "
              >
                Taux obtention diplome
              </button>
              <button
                ngbDropdownItem
                (click)="sortByItem('number_applicants', 'Nombre de candidats')"
              >
                Nombre de candidats
              </button>
              <button
                ngbDropdownItem
                (click)="sortByItem('percent_scholarship', 'Boursiers')"
              >
                Boursiers
              </button>
            </div>
          </div>
        </div>
      </div>
     

    </div>
    

    <!-- filters active -->
    <div *ngIf="getActiveFilterKeys().length" class="filters-container">
      <div *ngFor="let key of getActiveFilterKeys()" class="filter-tag">
        <button (click)="removeFilter(key)">
          {{ key }} : {{ activeFilters[key] }}
          <span class="filter-close">x</span>
        </button>
      </div>
      <div class="clear-filters">
        <button (click)="clearFilters()">Effacer tous les filtres</button>
      </div>
    </div>
    <!-- end active filters -->
    <div>
      <!-- List of results -->
      @if (results) {
      <app-study-list
        [studies]="results"
        [count]="count"
        [nextUrl]="nextUrl"
        [previousUrl]="previousUrl"
      ></app-study-list>
      <!-- [studies]="results!" -->
      }

      <!-- Search school -->

      <ul>
        <li *ngFor="let school of schools$ | async">
          Écoles : {{ school.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
