<div class="container-fluid">
    <div class="row">
        <a class="return" (click)="goBack()">
            << Retour favoris</a>
    </div>
    <div class="row">
        <div id="favoriteProgram" class="col-md-8 order-md-2">
            @if(favoriteProgram){
            <app-studydetail [studyProgram]="favoriteProgram"></app-studydetail>
            }
        </div>
        <!-- Form Favoris -->
        <div id="form-area" class="col-md-4 order-md-1">
            @if( favorite) {
            <form action="">
                <div class="form-group">
                    <label class="my-1 mr-2" for="status"><span>Status: </span></label>
                    <select class="custom-select my-1 mr-sm-2" name="status" [disabled]="!(editing$ | async)"
                        [(ngModel)]="favorite.status">
                        <option value="interested" [selected]="favorite.status==='interested'">Intéressé.e</option>
                        <option value="applied" [selected]="favorite.status==='applied'">Postulé</option>
                        <option value="accepted" [selected]="favorite.status==='accepted'">Admis.e</option>
                        <option value="waitlisted" [selected]="favorite.status==='waitlisted'">Liste d'attente</option>
                        <option value="enrolled" [selected]="favorite.status==='enrolled'">Inscrit.e</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="note"><span>Note</span></label>
                    <textarea
                        [ngClass]="{'form-control-plaintext': !(editing$ | async),'form-control': editing$ | async }"
                        class="form-control" name="note" rows="3" [readOnly]="!(editing$ | async)"
                        [(ngModel)]="favorite.note">{{favorite.note}}</textarea>

                    <small id="note-help" class="form-text text-muted">Notez ici ce que vous voulez sur le programme -
                        vos questions, pourquoi il vous intéresse, etc.</small>
                </div>
                @if(alerts[0]) {
                <ngb-alert [type]="alerts[0].type" (closed)="close(alerts[0])">{{ alerts[0].message }}</ngb-alert>
                <div [hidden]="alerts[0].type!=='danger'">
                    <button type="button" class="remove-btn"
                        (click)="deleteFavorite(favorite.id); close(alerts[0]); ">Supprimer</button>
                    <button type="button" class="cancel-btn" (click)="close(alerts[0])">Annuler</button>
                </div>
                }
                <div [hidden]="(alerts.length)">
                    <button type="button" class="remove-btn" (click)="confirmDelete(favorite.id)"
                        [ngClass]="{'d-none': editing$ | async}">Supprimer le
                        favoris</button>
                    <button type="button" class="edit-btn" (click)="editForm()"
                        [ngClass]="{'d-none': editing$ | async}">Editer</button>
                </div>
                <div [ngClass]="{'d-none': !(editing$ | async)}">
                    <button type="button" class="cancel-btn" (click)="cancelEdit()">Annuler</button>
                    <button type="button" class="edit-btn" (click)="saveChanges()">Sauvegarder</button>
                </div>
            </form>
            }
        </div>
    </div>



</div>